<div class="container">
<div class="lessonlearnlist-container">

<% @lessonlearnlists.each do |lessonlearnlist| %>
<h3><%= lessonlearnlist.id %></h3>
<h3><%= learnlist.created_at %></h3>
<% end %>




</div>
</div>
