<script id="learnlisttitle-template" type="text/x-handlebars-template">    
  <div id="learnlist-title" class="learnlistTitle">
    <h1>{{name}}</h1>
    <h3>Created by: Philip Hancock</h3>
  </div>
  <div id = "learnlist-container" class = "learnlistContainer">

    <div class= "lessonContainer" id= "lesson-container-new">
      <div id="mediabox-new" class="mediaContainer">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-11">
              <input class="form-control input-lg" id="new-provider" type="text" placeholder="Enter the link to the lesson content">
            </div>
            <ul class="nav nav-pills">
              <li role="presentation" id="find-lesson-button" class="active"><a href="#">Find</a></li>

            </ul>
          </div>
        </form>
      </div>
      <div id="mediaInfo-last"></div>
    </div>
  </script> 
  

  <!-- lesson container -->

  <script id="lessoncontainer-template" type="text/x-handlebars-template"> 
    <div class= "lessonContainer" id= "lesson-container-new">
      <div id="mediabox-new" class="mediaContainer">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-9">
              <input class="form-control input-lg" id="new-provider" type="text" placeholder="Enter the link to the lesson content">
            </div>
            <ul class="nav nav-pills">
              <li role="presentation" id="find-lesson-button" class="active"><a href="#">Find</a></li>
              <li role="presentation" id="finished-learnlist-button"><a href="#">Finished</a></li>
            </ul>
          </div>
        </form>
      </div>

      <div id="mediaInfo-last"></div>
    </div>
  </script>

  <!-- lesson summary  -->

  <script id="lessonsummary-template" type="text/x-handlebars-template"> 
    <div class="row">
      <div class="summaryThumb"><img src="{{thumbnail_url}}"></div>
      <div class="summaryInfo">
        <div class="summaryTitle"><strong>{{title}}</strong></div> 
        <div class="summaryDescription">{{description}}</div>
        <div class="summaryLink"><a href="{{provider_url}}" target="_blank">
         {{provider_name}}</a> </div>
       </div>
       <div class="clear"></div>
     </div>
   </script>

   <!-- learnlist add description -->

   <script id="learnlist-add-description" type="text/x-handlebars-template"> 
    <div class="row">
      <div class="learnlistTitle"><strong>Description:</strong></div> 
      <textarea class="form-control" id="learnlist-description" rows="3" placeholder="Add a few words to explain the content of your learnlist and what you should learn"></textarea>
    </div>
    <div class="row">
     <div class="col-lg-10 darkBody text-center">
      <a href="#" class="btn btn-lg btn-primary" id="share-learnlist-button">Share it!</a>
    </div>
  </div>
</script>

<!-- share box -->
<script id="learnlist-sharebox" type="text/x-handlebars-template"> 
    <div class="zero-clipboard">
    <span class="btn-clipboard">Copy</span>
      <div class="highlight">
      {{description}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquam, deserunt totam consequatur voluptas labore hic magnam culpa, sequi veniam. Maiores animi autem nobis illum cum architecto ducimus saepe eligendi!
      </div>
</script>

<!-- lesson info and nav -->

<script id="lessoninfo-template" type="text/x-handlebars-template">   

 <div class="summaryTitle"><strong>{{title}}</strong></div> 
 <div class="summaryThumb"></div>
 <div class="summaryDescription">{{description}}</div>
 <div class="summaryLink"><a href="{{provider_url}}" target="_blank">
   {{provider_name}}</a> </div>

   <button type="submit" id="delete-lesson-button" class="btn btn-danger pull-right">Delete</button>
   <button type="submit" id="keep-lesson-button" class="btn btn-success pull-right">Keep</button>

 </script>


 <!-- main page original content -->
 <div class="container-fluid">
  <div id="new-learnlist-input">
    <div class="row text-center">
      <%=  image_tag "guru.png" %>
    </div>
    <h2>Share your curated learning recommendations with the world!</h2>
    <div class="input-group">
      <input type="text" class="form-control input-lg" id="new-learnlist-name" placeholder="Enter the name of a new LearnList&#153;">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" type="button" id="new-learnlist-button">Curate!
        </button>
      </span>
    </div>
  </div>
  <div id="learnlist-content"></div>
</div>


