
<script id="entry-template" type="text/x-handlebars-template">
  <div id="learnlist-title">
    <h2>{{name}}</h2>
    <h3>Created by: User</h3>
  </div>
  <div id= "learnlist-container">
  This is where the lessons go
  </div>
  <div id= "lesson-add">
  Button to add a lesson
  </div>
</script>




<div class="container">
  <h2>Share your learning recommendations with the world, or just your friends!</h2>

  <form class="form-inline" role="form">
   <div class="form-group col-lg-8">
    <input type="text" class="form-control input-lg"  id="new-learnlist-name"  placeholder="Enter the name of new LearnList&#153;">
    <a href="#" class="btn btn-primary btn-lg" id="new-learnlist-button">Let's get started</a>
  </div>
</form>

</div>
<div class="container">
<div id = "learnlist-content"></div>
</div>
