<div class="container">
  <h1>Latest lessons</h1>

  <% @lessons.each do |lesson| %>
  <div >
    <h2>id: <%= lesson.learnlists.first.name %></h1>
    <p>desc: <%= lesson.description %></p>  
  </div>
    <% lesson.quizzes.each do |quiz| %>
  <%= quiz.name %>
  <% end %>
  <% end %>
</div>

