
<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<br>
 <%= link_to "Edit", edit_quiz_path(@quiz) %> |
  <%= link_to "Delete", @quiz, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", quizzes_path %>