/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self


*/
@import "bootstrap";

* {
box-sizing: border-box;

} 




.social-right{
text-align: right;

}

.learnlist-nav{
  color: white;
  text-decoration: none;
  cursor: auto;
}

.nav-pills{
border-radius: 0px;

}

.container {

}

.menu-left{

height: 100vh;
}

#separator-space{
height: 3vh;
}

.lesson-box {
width: 100%;
background: #fff;
border:1px solid black;
}

.embedly-embed{
width: 100%
}

.small-thumb{
  max-width: 100px;
  max-height: 60px;
}

.summaryThumb{
  max-width: 45%;
  float: left;
}

.showThumb{
  text-align: centre;
  padding: 20px 20px 20px 20px ;
}

.showThumb img {
  width: 90%
}

.summaryInfo{
  max-width: 45%;
  float: right;
}

.showInfo{
  text-align: justify;
  padding: 20px 20px 20px 20px;
  font-size: 1.5em;
  word-wrap: break-word;
}

.summaryThumb img {
  width: 100%
}

.wrap {
position: relative;
}


.learnlistContainer {
padding: 40px;
width: 100%;
margin: auto 0;
border: 1px solid grey;
border-style: dashed;
border-radius: 15px;
}

.lessonSummary {
padding: 5px;
width: 100%;
margin: 5px auto;
border: 1px solid grey;
border-style: dashed;
border-radius: 5px;
}

.learnlistTitle {
text-align: center;
color: solid grey;
padding: 5px 20px 5px 20px;
width: 100%;
margin: 5px auto;
border: 1px solid grey;
border-style: dashed;
border-radius: 5px;
}

.lessonContainer {
width: 100%;
margin: 10px auto;
}

.lessonControl {
display: inline-block;
display: none;
padding: 10px;
margin: 10px;
width: 100%;
margin: auto 0;
border: 1px solid grey;
border-style: dashed;
border-radius: 5px;

}


/*Navigation*/

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0; 
  border: 1px solid transparent;
  font-size: 16px;
}

.navbar-brand {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 25px;
  height: 50px;
}
/*Shifting the nav elements down begin*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
  margin-top: 5px;
}

.navbar-left {
  float: left !important;
  margin-top: 7px;
}
/*Shifting the nav elements down end*/


.navbar-default {
  background-color: #f8f8f8;
  border: 0;
  padding: 10px;
}

#log_in_area {
  padding: 15px 0;
}

.form-custom {
  max-width: 500px;
  margin: 10% auto;
}

.gravatar {
  width: 30px;
  display: inline-block;
}

@media (max-width: 1233px) {
  .gravatar-responsive {
    display: none;
  }
  .gravatar {
    width: 30px;
    display: inline-block;
    margin: 0 20px;
  } 
}


/*Forms*/

.checkbox-gap {
  padding: 0 20px;
}

/*Footer*/

footer {
  padding: 35px auto;
  margin-bottom: 35px;
  font-size: 16px;
}

.container{
  max-width: 100vw;
  min-width: 100vw;
}
