// Place all the styles related to the learnlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson-box {
    width: 100%;
    background: #fff;
    border:1px solid black;
}
